.opacitty {
    background-color:rgba(0, 0, 0, 0.7);;
}

.bg {
    background-color:#0f0e13;
    background-image: 
      radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
      radial-gradient(at 50% 0%, rgb(49, 26, 55) 0, transparent 50%), 
      radial-gradient(at 100% 0%, rgb(75, 19, 39) 0, transparent 50%);
  }